/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body { 
    margin: 0; 
    background-color: #2b2b2b;
    color: white;
    --header-height: 120px;
    --marvel-red: #D92324;
}

input:disabled,
input[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.button {
    border: 1px outset white;
    background-color: white;
    color: var(--marvel-red);
    padding: 10px;
    font-weight: bold;
    cursor:pointer;
 }

.container {
    margin: 0 auto;
    max-width: 60rem;
    width: 90%;
}

.hidden {
  display: none !important;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.gap-10 {
  gap: 10px;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.line {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: var(--marvel-red);
}

.load-wrapper {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255, .8);
  z-index: 10;
}
.load .line:nth-last-child(1) {
  animation: loadingKeyframes 0.6s 0.1s linear infinite;
}
.load .line:nth-last-child(2) {
  animation: loadingKeyframes 0.6s 0.2s linear infinite;
}
.load .line:nth-last-child(3) {
  animation: loadingKeyframes 0.6s 0.3s linear infinite;
}

@keyframes loadingKeyframes {
  0 {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0);
  }
}
