<div class="comics-header-container header row">
    <%= image_tag("marvel_logo.png", :alt => "Marvel Logo", :class => "center image") %>
    <input type="text" placeholder="search" id="comic-search" class="center comic-input"><br><br>
</div>

<div class="body row scroll-y container grid-container">
    <% @comics.each do |comic| %>
        <%= image_tag(comic.image, :class => "grid-item") %>
    <% end %>
</div>

<div class="footer row container">


<%= button_to 'PREVIOUS PAGE', {:controller => "comics", :action => "index"}, {id: 'previous-button', class: 'left-button button', :method=>:get, params: {:page => @page - 1}} %>
<%= button_to 'NEXT PAGE', {:controller => "comics", :action => "index"}, {id: 'next-button', class: 'right-button button', :method=>:get, params: {:page => @page + 1}} %>
</div>