// Place all the styles related to the comic/comics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.comics-header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--header-height);
    background: rgba(217,35,36,0.9);
    z-index: 10;
}

.comics-table {
  position: relative;
  margin-top: var(--header-height);
}

.comic-image {
  position: relative;
  width: 168px;
  text-align: center;
  cursor: pointer;

  &.upvoted  {
    outline: solid 3px var(--marvel-red);
    .upvote-heart {
      display: block;
      background: no-repeat center url("/assets/heart_on.png");      
    }
  }
}

.disabled {
  display: none;
}

.comic-image:hover {
  .comic-image-tag {
    opacity: 0.7;
    background-color: black;
    filter: alpha(opacity=100);
  }
  .upvote-heart {
    display: block;
  }
}

.upvote-heart {
  display: none;
  position: absolute;
  color: white;
  top: 5px;
  right: 5px;
  z-index: 9;
  height: 30px;
  width: 30px;
  background: no-repeat center url("/assets/heart_off.png");
  
  &:hover {
    background-image: url("/assets/heart_hover.png")
  }
}

.footer {
  padding: 20px;
}

.comic-input {
    margin-top: 5px;
    line-height: 1.8em;
    width: 300px;
}
