// Place all the styles related to the comic/comics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.comics-header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--header-height);
    background: rgba(217,35,36,0.9);
    z-index: 10;
}

.comics-table {
  position: relative;
  margin-top: var(--header-height);
}

.footer {
  padding: 20px;
}

.comic-input {
    margin-top: 5px;
    line-height: 1.8em;
    width: 300px;
}
